*.7z
*.cache
*.log
*.orig
*.pubxml
*.sha1
*.sublime-workspace
*.suo
*.user
*.zip
_NCrunch*
_ReSharper*
bin
deploy/production.yml
obj
out
packages
previous_ndepend
tmp
validFromGeneration.config
.idea

!3rdparty/*
!3rdparty/vstools/bin
!packages/repositories.config